<section>
<%= form_with model: @game, :html => {:class => 'form'} do |form| %>
	<h3>Edit game info</h3>

  <%= form.label :player_count, "Number of players:", class: %w(sr-only) %>
	<%= form.number_field :player_count, class: %w(input_text), placeholder: "Total number of players" %><br><br>
  
	<%= form.label :location, "Location:", class: %w(sr-only) %>
	<%= form.text_field :location, class: %w(input_text), placeholder: "Location" %><br><br>
  
	<%= form.label :date, "Date and time:", class: %w(sr-only)  %>
	<%= form.datetime_field :datetime, class: %w(input_text), placeholder: "Date and time" %><br><br>
  
	<%= form.label :description, "Description:", class: %w(sr-only)  %>
	<%= form.text_field :description, class: %w(input_text), placeholder: "Description" %><br><br>
  
	<%= form.submit "Edit Game", class: %w(form-btn)  %>
<% end %>
</section>