
<section class="game-page-container">
	<%= render "layouts/navbar" %>
	<div class="dropdown">
		

		<%= form_with do |f| %>
			<%= f.label 'Show me games within:', class: %w(label) %>
			<%= f.select :distance,[
				['2 miles', 2], 
				['5 miles', 5], 
				['10 miles', 10], 
				['15 miles', 15], 
				['20 miles', 20]
				], :selected => @distance, class: %w(input-text) %>
			<%= f.submit 'see games', class: %w(form-btn) %>
		<% end %>
	</div>
	

	<% @location = Geokit::LatLng.new(current_user.latitude,current_user.longitude) %>
	<% @games_filtered = Game.within(@distance, :origin => @location) %>

	<section class="games-container">
		<% @games_filtered.each do |game| %>
			<% if game.datetime >= Time.now %>
			<section class="game-container">
				<section class="game-details">
						<% current_players_count = GameUser.where(games_id: game.id).count %>
						<table>
							<tr>
								<td>GAME:</td>
								<td><strong><%= game.player_count / 2 %> ASIDE</strong></td>
							</tr>
							<tr>
								<td>PLAYERS:</td>
								<td><strong><%= "#{current_players_count} / #{game.player_count}" %></strong></td>
							</tr>
							<tr>
								<td>LOCATION:</td>
								<td><strong><%= game.location %></strong></td>
							</tr>
							<tr>
								<td>WHEN: </td>
								<td><strong><%= game.datetime.localtime.strftime("%d/%m/%y @ %H:%M") %></strong></td>
							</tr>
							<tr>
								<td>INFO:</td>
								<td><strong><%= game.description %></strong></td>
							</tr>
						</table>        
					</section>
				
					<section class="game-options">
						<% if GameUser.where(users_id: current_user.id, games_id: game.id).exists? %>
						<%= form_with model: @game_user, url: "/game_users/:id(#{current_user.id}:format)", method: :delete do |form| %>
							<%= form.hidden_field :users_id, value:current_user.id  %>
							<%= form.hidden_field :games_id, value:game.id  %>
							<%= button_tag type: 'submit', class: "game-btn" do %>
										<i class="fas fa-check fa-3x" aria-hidden="true"></i>
								<% end %>
						<% end %>
						<% elsif current_players_count >= game.player_count %>
							<%= "This game already has #{game.player_count} players" %><br>
						<% else %>

						<div id="join-game-btn">
							<%= form_with model: @game_user, url: game_users_path do |form| %>
								<%= form.hidden_field :users_id, value:current_user.id  %>
								<%= form.hidden_field :games_id, value:game.id  %>
								<%= button_tag type: 'submit', class: "game-btn", id:"submit_btn" do %>
									<i class="far fa-futbol fa-3x" aria-hidden="true"></i>
								<% end %>
							<% end %>
						</div> 

						<% end %>

						<div id="edit/delete-links" class="game-options">
							<% if current_user.id == game.user_id %>
								<%= link_to 'Edit info', edit_game_path(game.id), class: %w(link) %><br>
								<%= link_to 'Cancel game', game_path(game.id), class: %w(link), method: :delete, data: { confirm: "This will delete the game and notify the players" } %>
							<% end %>
						</div> 
					</section>	
				</section>	
			<% end %>	
		<% end %> 
	</section>
</section>