<h1>KickAbout</h1>

<%= link_to 'Add a game', new_game_path %><br><br>


<% @games.each do |game| %>
  <%= "GAME: #{game.player_count / 2} ASIDE" %><br>
  <% current_players = GameUser.where(games_id: game.id) %>
  <%= "PLAYERS: #{current_players.count} / #{game.player_count}" %><br>
  <%= "LOCATION: #{game.location}" %><br>
  <%= "WHEN: #{game.datetime.localtime.strftime("%d/%m/%y @ %H:%M") }" %><br>
  <%= "INFO: #{game.description}" %><br>
  <%= form_with model: @game_user, url: game_users_path do |form| %>
    <%= form.hidden_field :users_id, value:current_user.id  %>
    <%= form.hidden_field :games_id, value:game.id  %>
    <%= form.submit "Join Game" %>
  <% end %>
<% end %> 

