<!DOCTYPE html>
<html>
  <head>
    <title>Kickabout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<script src="https://kit.fontawesome.com/65db07c83e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdDDQ4aKHcVYccVQSBfz0-0pgerdSE1Fk&libraries=places&callback-initMap" ></script>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQkNvaD4LyVu4K3Ce9-miITz-gzuc6GL8&libraries=places&callback-initMap" async defer data-turbolinks-eval="false"></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
